
<!DOCTYPE html>
<html lang="en">
  <header>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>CYZ Food Pick-up Ordering App - Admin Page</title>
  </head>
</header>
<%- include('partials/_header') %>

<body>

    <main style="margin: 1em;">
      <h5>Welcome Administrator</h5>

      <!-- <form action="/admins" method="POST">
        <input type="text" name="admin" placeholder="Secret Password">
        <button type="submit">Enter</button>
      </form> -->

      <table>
        <% for (const orders of data) { %>
          <tr>
            <td>Order ID</td>
            <td>Customer ID</td>
            <td>Order Time</td>
            <td>Order Total</td>
            <td>Order Completed?</td>
            <td>Order Status</td>

          </tr>
            <tr>
              <td><%= orders.id %></td>
              <td><%= orders.user_id %></td>
              <td><%= orders.order_time %></td>
              <td><%= orders.total_cost %></td>
              <td><%= orders.order_completed %></td>
              <td><%= orders.order_status %></td>

            </tr>

       <% } %>
      </table>

    </main>

</body>

</html>


