<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FOOD ORDERING APP</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
  </head>
  <%- include('partials/_header') %>

  <body>
<h2>REVIEW YOUR ORDER</h2>


<div class="box">
  <div class="order-summary">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Items</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% for (let foodList of cart) { %>
          <tr>
            <td><span class="items"><%= foodList.items.foodId.item['title'] %></span></td>
            <td><span class="price"><%= foodList.items.totalPrice %></span></td>
            <td><input type="number" name="qty" style="width: 3em" value="<%= foodList.items.totalQty %>"></td>
            <!-- <td><span class="total"><%= Number(foodList.items.totalPrice) * Number(foodList.items.totalQty) %></span></td> -->
          </tr>



          <!-- <% for (let item of data) { %>
          <tr>
            <td><span class="items"><%= item.title %></span></td>
            <td><span class="price"><%= item.price %></span></td>
            <td><input type="number" name="qty" style="width: 3em" value="<%= item.quantity %>"></td>
            <td><span class="total"><%= Number(item.price) * Number(item.quantity) %></span></td>
          </tr>
          <% } %>
 -->

        <!-- <tr>



          <td>   <form method="POST" action="/checkout/:foods_id/delete">
            <button type="submit">Delete</button>
          </form></td>
        </tr> -->


      </tbody>
    </table>

    Subtotal: <span class="subtotal">$<%= foodList.items.totalPrice %><br>
      Tax: $<span class="tax">6.50</span><br>
      Total: $<strong><span class="finaltotal"></span>56.50</strong><br>
      <% } %>
    <form method="POST" action="/ordersuccess">
      <button type="submit" class="btn btn-primary">Place order</button>
    </form>


  </div>
  <div class="order-summary">
    <strong>Restaurant Pick-up Info</strong><br>
    Pizza Azzip<br>
    123 Fourth Dr.<br>
    Scarborough, ON<br>
  </div>
</div>


</body>
</html>
